*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/rails_app/log/*
spec/rails_app/tmp/*
spec/rails_app/db/test.sqlite3*
test/tmp
test/version_tmp
tmp
.ruby-gemset
.idea